<!-- sale2 section start -->
<section class="sale2_section" data-aos="fade-up" data-aos-duration="2000">
    <div class="sale2_section_wrap sec_space_small d-flex justify-content-center align-items-center"
         style="background-image: url(/organic-html/assets/images/banner/banner5.png)">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6">
                    <div class="sale_pro_thumb d-none d-lg-block">
                        <img src="/organic-html/assets/images/product/product19.png" alt="image_not_found">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="sale2_content_wrap ps-3">
                        <div class="product_sec_sub_title d-flex align-items-center pb-2">
                            <i class="far fa-circle"></i>
                            <i class="far fa-circle"></i>
                            <i class="far fa-circle"></i>
                            <span class="px-2 text-uppercase">tast of nature</span>
                        </div>
                        <div class="sale2_title py-2">
                            <h2>
                                Sale 68% Off <br> All <font class="text-effect">
                                    <span>F</span><span>r</span><span>u</span><span>i</span><span>t</span><span>e</span>
                                </font> Products
                            </h2>

                        </div>
                        <div class="sale2_desc">
                            <p>
                                Morbi eget congue lectus. Donec eleifend ultricies urna et euismod. Sed
                                consectetur tellus eget odio aliquet, vel vestibulum tellus sollicitudin.
                            </p>
                        </div>
                        <div class="countdown_box py-2">
                            <ul class="countdown_timer ul_li" data-countdown="2023/3/24"></ul>
                        </div>
                        <div class="sale2_btn load_more_1">
                            <a href="#!">
                                <button type="button"
                                        class="btn custom_btn rounded-pill px-5 py-3  text-white">
                                    Explore More
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- sale2 section end -->
