<!-- sale2 section start -->
<section class="sale2_section" data-aos="fade-up" data-aos-duration="2000">
    <div class="sale2_section_wrap sec_space_xxlarge d-flex justify-content-center align-items-center"
         style="background-image: url(/organic-html/assets/images/backgrounds/bg20.png)">
        <div class="container">
            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6">
                    <div class="sale2_content_wrap ps-3">
                        <div class="sale2_sub_title pb-3 position-relative">
                            <img class="sub_title_bg" src="/organic-html/assets/images/shapes/shape2.png"
                                 alt="image_not_found">
                            <h6 class="text-white text-uppercase position-absolute">
                                LIVE ORGANIC. LIVE
                                HEALTHY.
                            </h6>
                        </div>
                        <div class="sale2_title py-2">
                            <h2>
                                Sale 68% Off <br> All <font class="text-effect">
                                    <span>F</span><span>r</span><span>u</span><span>i</span><span>t</span><span>e</span> <span>P</span><span>r</span><span>o</span><span>d</span><span>u</span><span>c</span><span>t</span><span>s</span>
                                </font>
                            </h2>
                        </div>
                        <div class="sale2_desc">
                            <p>
                                Morbi eget congue lectus. Donec eleifend ultricies urna et euismod. Sed
                                consectetur tellus eget odio aliquet, vel vestibulum tellus sollicitudin.
                                Morbi eget congue lectus. Donec eleifend ultricies urna et euismod. Sed
                                consectetur tellus eget odio aliquet,
                            </p>
                        </div>
                        <div class="sale2_btn load_more_3">
                            <a href="#!">
                                <button type="button"
                                        class="btn custom_btn rounded-pill px-5 py-3 text-white">
                                    Read More <i class="fas fa-long-arrow-alt-right"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- sale2 section end -->
