<!-- blog section start -->
<section class="blog_section sec_space_xlarge position-relative" data-aos="fade-up"
         data-aos-duration="2000">
    <div class="blog_section_wrap">
        <div class="container-fluid-full ">
            <div class="quality_top_content text-center">
                <div class="quality_sub_title d-flex justify-content-center align-items-center pb-2">
                    <i class="far fa-circle"></i>
                    <i class="far fa-circle"></i>
                    <i class="far fa-circle"></i>
                    <span class="px-2">FRESH FROM</span>
                    <i class="far fa-circle"></i>
                    <i class="far fa-circle"></i>
                    <i class="far fa-circle"></i>
                </div>
                <div class="blog_top_title pb-5">
                    <h2>Latest Blog</h2>
                </div>
            </div>
            <div class="row p-0">
                <div class="col-md-6 col-xl-3 p-0">
                    <a class="d-block" href="blog-details.html">
                        <div class="blog_content_thumb"
                             style="background-image: url(/organic-html/assets/images/blog/blog12.png);" data-aos="fade-right" data-aos-duration="1000">
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-xl-3 p-0">
                    <div class="blog_content_text d-flex flex-column justify-content-center align-items-center text-center" data-aos="fade-right"
                         data-aos-duration="1500">
                        <div class="blog_subtitle text-uppercase d-inline-block">
                            <h6 class="text-white">Malesuada lacus</h6>
                        </div>
                        <div class="blog_title pt-3">
                            <a href="blog-details.html">
                                <h2>Classic Spaghetti with Fresh Dark opal Basil</h2>
                            </a>
                        </div>
                        <div class="blog_icon">
                            <img src="/organic-html/assets/images/shapes/shape20.png" alt="image_not_found">
                        </div>
                        <div class="blog_author_cnt d-flex justify-content-center align-items-center">
                            <span><i class="far fa-calendar-alt"></i> By Admin </span>
                            <font class="px-3">-</font>
                            <span><i class="fas fa-comment"></i> 2 Comments</span>
                        </div>
                        <div class="blog_desc py-3">
                            <p>
                                Morbi eget congue lectus. Donec eleifend ultricies urna et euismod. Sed
                                consectetur tellus eget odio aliquet,
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3 p-0">
                    <a class="d-block" href="blog-details.html">
                        <div class="blog_content_thumb"
                             style="background-image: url(/organic-html/assets/images/blog/blog1.png);" data-aos="fade-left" data-aos-duration="1000">
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-xl-3 p-0">
                    <div class="blog_content_text d-flex flex-column justify-content-center align-items-center text-center" data-aos="fade-left" data-aos-duration="1500">
                        <div class="blog_subtitle text-uppercase d-inline-block">
                            <h6 class="text-white">Malesuada lacus</h6>
                        </div>
                        <div class="blog_title pt-3">
                            <a href="blog-details.html">
                                <h2>Classic Spaghetti with Fresh Dark opal Basil</h2>
                            </a>
                        </div>
                        <div class="blog_icon">
                            <img src="/organic-html/assets/images/shapes/shape20.png" alt="image_not_found">
                        </div>
                        <div class="blog_author_cnt d-flex justify-content-center align-items-center">
                            <span><i class="far fa-calendar-alt"></i> By Admin </span>
                            <font class="px-3">-</font>
                            <span><i class="fas fa-comment"></i> 2 Comments</span>
                        </div>
                        <div class="blog_desc py-3">
                            <p>
                                Morbi eget congue lectus. Donec eleifend ultricies urna et euismod. Sed
                                consectetur tellus eget odio aliquet,
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-0">
                <div class="col-md-6 col-xl-3 p-0 order-2 order-md-0">
                    <div class="blog_content_text d-flex flex-column justify-content-center align-items-center text-center" data-aos="fade-right" data-aos-duration="1000">
                        <div class="blog_subtitle text-uppercase d-inline-block">
                            <h6 class="text-white">Malesuada lacus</h6>
                        </div>
                        <div class="blog_title pt-3">
                            <a href="blog-details.html">
                                <h2>Classic Spaghetti with Fresh Dark opal Basil</h2>
                            </a>
                        </div>
                        <div class="blog_icon">
                            <img src="/organic-html/assets/images/shapes/shape20.png" alt="image_not_found">
                        </div>
                        <div class="blog_author_cnt d-flex justify-content-center align-items-center">
                            <span><i class="far fa-calendar-alt"></i> By Admin </span>
                            <font class="px-3">-</font>
                            <span><i class="fas fa-comment"></i> 2 Comments</span>
                        </div>
                        <div class="blog_desc py-3">
                            <p>
                                Morbi eget congue lectus. Donec eleifend ultricies urna et euismod. Sed
                                consectetur tellus eget odio aliquet,
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3 p-0 order-1 order-md-0">
                    <a class="d-block" href="blog-details.html">
                        <div class="blog_content_thumb"
                             style="background-image: url(/organic-html/assets/images/blog/blog11.png);" data-aos="fade-right" data-aos-duration="1500">
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-xl-3 p-0 order-5 order-md-0">
                    <div class="blog_content_text d-flex flex-column justify-content-center align-items-center text-center" data-aos="fade-left" data-aos-duration="1500">
                        <div class="blog_subtitle text-uppercase d-inline-block">
                            <h6 class="text-white">Malesuada lacus</h6>
                        </div>
                        <div class="blog_title pt-3">
                            <a href="blog-details.html">
                                <h2>Classic Spaghetti with Fresh Dark opal Basil</h2>
                            </a>
                        </div>
                        <div class="blog_icon">
                            <img src="/organic-html/assets/images/shapes/shape20.png" alt="image_not_found">
                        </div>
                        <div class="blog_author_cnt d-flex justify-content-center align-items-center">
                            <span><i class="far fa-calendar-alt"></i> By Admin </span>
                            <font class="px-3">-</font>
                            <span><i class="fas fa-comment"></i> 2 Comments</span>
                        </div>
                        <div class="blog_desc py-3">
                            <p>
                                Morbi eget congue lectus. Donec eleifend ultricies urna et euismod. Sed
                                consectetur tellus eget odio aliquet,
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3 p-0 order-4 order-md-0">
                    <a class="d-block" href="blog-details.html">
                        <div class="blog_content_thumb"
                             style="background-image: url(/organic-html/assets/images/blog/blog13.png);" data-aos="fade-left" data-aos-duration="1000">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog section end -->
