<!-- service section start -->
<section class="service_setion2" data-aos="fade-up" data-aos-duration="2000">
    <div class="service_content_wrap2">
        <div class="container">
            <div class="row services2_content d-flex justify-content-between">
                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="service_inner_content d-flex justify-content-center align-items-center"
                         data-aos="fade-up" data-aos-duration="500">
                        <div class="service_content_icon rounded-pill me-3">
                            <img src="/organic-html/assets/images/services/service1.png" alt="image_not_found">
                        </div>
                        <h6 class="service_content_title">Product Form Organic Farm</h6>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="service_inner_content d-flex justify-content-center align-items-center"
                         data-aos="fade-up" data-aos-duration="1000">
                        <div class="service_content_icon rounded-pill me-3">
                            <img src="/organic-html/assets/images/services/service2.png" alt="image_not_found">
                        </div>
                        <h6 class="service_content_title">Free Home Delivery</h6>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="service_inner_content d-flex justify-content-center align-items-center"
                         data-aos="fade-up" data-aos-duration="1500">
                        <div class="service_content_icon rounded-pill me-3">
                            <img src="/organic-html/assets/images/services/service3.png" alt="image_not_found">
                        </div>
                        <h6 class="service_content_title">Promotions Of The weeek</h6>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-3">
                    <div class="service_inner_content d-flex justify-content-center align-items-center"
                         data-aos="fade-up" data-aos-duration="2000">
                        <div class="service_content_icon rounded-pill me-3">
                            <img src="/organic-html/assets/images/services/service4.png" alt="image_not_found">
                        </div>
                        <h6 class="service_content_title">-20% discount On all Vegetables</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service section end -->
