<!-- header section start -->
<header class="header_section position-relative header_2">
    <!-- bottom header start -->
    <div class="header_bottom_main">
        <div class="container">
            <!-- web menubar start-->
            <div class="webMenu d-none d-lg-block">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/Default/Index">
                        <img src="/organic-html/assets/images/logo/logo.png"
                             alt="image_not_found">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav main_menu_list m-auto">
                            <li class="nav-item nav_item_has_child px-2">
                                <a class="nav-link" href="/Default/Index">Home</a>
                            </li>

                            <li class="nav-item nav_item_has_child px-2">
                                <a class="nav-link" href="/Product/Index">Products</a>
                            </li>

                            <li class="nav-item nav_item_has_child px-2">
                                <a class="nav-link" href="/Compare/Index">Compare</a>
                            </li>

                        </ul>
                    </div>
                    <div class="navbar_user me-2">
                        <div class="navbar_user_icon">
                            <ul class="list-unstyled d-flex mb-0">
                                <li class="pe-2 position-relative">
                                    <a href="#collapseExample" data-bs-toggle="collapse" href="#collapseExample"
                                       role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <i class="far fa-user" data-toggle="collapse" role="button"
                                           data-target="#use_deropdown" aria-expanded="false"
                                           aria-controls="use_deropdown"></i>
                                    </a>
                                
                                    
                                </li>

                                <li>
                                    <a href="/Basket/Index">
                                        <i class="fas fa-shopping-bag position-relative"
                                           data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                           aria-controls="offcanvasRight">
                                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"></span>
                                        </i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

        </div>
    </div>

</header>
