@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<main>

    @await Component.InvokeAsync("_DefaultSidebarComponentPartial")

    @await Component.InvokeAsync("_DefaultBannerComponentPartial")

    @await Component.InvokeAsync("_DefaultServiceComponentPartial")

    @await Component.InvokeAsync("_DefaultProductSection2ComponentPartial")

    @await Component.InvokeAsync("_DefaultTrendComponentPartial")

    @await Component.InvokeAsync("_DefaultQualityComponentPartial")

    @await Component.InvokeAsync("_DefaultSalePromoComponentPartial")

    @await Component.InvokeAsync("_DefaultHomeProductComponentPartial")

    @await Component.InvokeAsync("_DefaultBlogComponentPartial")

    @await Component.InvokeAsync("_DefaultSaleCountdownComponentPartial")

    @await Component.InvokeAsync("_DefaultTestimonialComponentPartial")

    @await Component.InvokeAsync("_DefaultInstagramComponentPartial")

    @await Component.InvokeAsync("_DefaultBrandComponentPartial")

</main>

