<!-- quick-view start -->

<div class="modal fade quick_view" id="product_quick_view" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content position-relative">
            <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal"
                    aria-label="Close">
                <i class="fas fa-times"></i>
            </button>
            <div class="modal-body p-0">
                <div class="container-fluid-full product10_wrap sec_space_small"
                     style="background-image: url(assets/images/backgrounds/bg17.png)">
                    <div class="row justify-content-center p-5">
                        <div class="col-lg-6">
                            <div class="product10_thumb_content d-flex flex-column">
                                <div class="product11_slide_item">
                                    <div class="d-flex justify-content-center align-items-center position-relative overflow-hidden">
                                        <img src="/organic-html/assets/images/product/product40.png" alt="image_not_found">
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center position-relative overflow-hidden">
                                        <img src="/organic-html/assets/images/product/product40.png" alt="image_not_found">
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center position-relative overflow-hidden">
                                        <img src="/organic-html/assets/images/product/product40.png" alt="image_not_found">
                                    </div>
                                </div>

                                <div class="product10_thumb_item product11_slide_thumb">
                                    <div class="thumb_item">
                                        <a href="#!">
                                            <img src="/organic-html/assets/images/product/product6.png"
                                                 alt="image_not_found">
                                        </a>
                                    </div>
                                    <div class="thumb_item">
                                        <a href="#!">
                                            <img src="/organic-html/assets/images/product/product8.png"
                                                 alt="image_not_found">
                                        </a>
                                    </div>
                                    <div class="thumb_item">
                                        <a href="#!">
                                            <img src="/organic-html/assets/images/product/product23.png"
                                                 alt="image_not_found">
                                        </a>
                                    </div>
                                    <div class="thumb_item">
                                        <a href="#!">
                                            <img src="/organic-html/assets/images/product/product6.png"
                                                 alt="image_not_found">
                                        </a>
                                    </div>
                                    <div class="thumb_item">
                                        <a href="#!">
                                            <img src="/organic-html/assets/images/product/product8.png"
                                                 alt="image_not_found">
                                        </a>
                                    </div>
                                    <div class="thumb_item">
                                        <a href="#!">
                                            <img src="/organic-html/assets/images/product/product23.png"
                                                 alt="image_not_found">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="rating_wrap d-flex justify-content-between">
                                <div class="rating_review_cont d-flex d-flex align-items-center">
                                    <ul class="rating_star ul_li">
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li class="active"><i class="fas fa-star"></i></li>
                                        <li><i class="far fa-star"></i></li>
                                    </ul>
                                    <a href="#!" class="review">Read 3 Reviews</a>
                                </div>
                                <div class="product_btn">
                                    <a href="#">
                                        <button type="button"
                                                class="btn custom_btn rounded-pill px-4 text-white">
                                            Smoothies
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <h2 class="product_detail_title">Good Organic Products</h2>
                            <p class="product_detail_desc py-2">
                                Morbi eget congue lectus. Donec eleifend
                                ultricies urna et euismod. Sed consectetur tellus eget odio aliquet, vel
                                vestibulum tellus sollicitudin. Morbi maximus metus eu eros tincidunt, vitae
                                mollis ante imperdiet. Nulla imperdiet at mauris ut posuere. Nam at ultrices
                                justo.
                            </p>
                            <div class="product10_quantity_btn_wrap d-flex align-items-center">
                                <div class="quantity_input bg-white">
                                    <form action="#">
                                        <span class="input_number_decrement">–</span>
                                        <input class="input_number" value="2KG">
                                        <span class="input_number_increment">+</span>
                                    </form>
                                </div>
                                <a href="#">
                                    <button type="button"
                                            class="btn custom_btn rounded-pill ms-3 px-5 py-3 text-white">
                                        Order Now
                                        <i class="fas fa-long-arrow-alt-right"></i>
                                    </button>
                                </a>
                            </div>
                            <div class="product_tags_wrap d-flex align-items-center mt-5">
                                <h6 class="product_tags_title text-uppercase">tags:</h6>
                                <div class="tags_item d-flex align-items-center">
                                    <a href="#!">T-shirt,</a>
                                    <a class="ms-1" href="#!">Clothes,</a>
                                    <a class="ms-1" href="#!">Fashion,</a>
                                    <a class="ms-1" href="#!">Shop</a>
                                </div>
                            </div>
                            <div class="product_social_links d-flex align-items-center">
                                <h6 class="product_social_title text-uppercase">share:</h6>
                                <ul class="list-unstyled d-flex mb-0">
                                    <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- quick-view end -->
