<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home V.2 - Organic - Food E-commerce HTML Template</title>
<!-- favicon icon -->
<link rel="shortcut icon" href="/organic-html/assets/images/icons/favicon.ico" type="image/x-icon">

<!-- Include fontawesome cdn -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Include google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&family=Merriweather:ital,wght@0,400;0,700;0,900;1,700;1,900&display=swap"
      rel="stylesheet">

<!-- Include bootstrap CSS -->
<link rel="stylesheet" href="/organic-html/assets/css/bootstrap.min.css">

<!-- Include aos CSS -->
<link rel="stylesheet" href="/organic-html/assets/css/aos.css">

<!-- Include magnific-popup CSS -->
<link rel="stylesheet" href="/organic-html/assets/css/magnific-popup.css">

<!-- Include nice-select CSS -->
<link rel="stylesheet" href="/organic-html/assets/css/nice-select.css">

<!-- Include slick-theme CSS -->
<link rel="stylesheet" href="/organic-html/assets/css/slick-theme.css">

<!-- Include slick CSS -->
<link rel="stylesheet" href="/organic-html/assets/css/slick.css">

<!-- Include stylesheet CSS -->
<link rel="stylesheet" href="/organic-html/assets/css/style.css">
