<section class="brand_section sec_bottom_space_50" data-aos="fade-up" data-aos-duration="2000">
    <div class="container">
        <div class="brand_thumb text-center">
            <img src="/organic-html/assets/images/brands/brand1.png" alt="image_not_found">
        </div>
    </div>
</section>